* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 375px;
  margin: auto;
  background: #F7F7F7;
  box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
  border-radius: 20px;
}

.header {
  color: #fff;
  padding: 84px 35px 151px;
  border-radius: 0 0 93px 93px;
  border: 1px solid #000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.1) 100%), url('../img/header-bg.png') no-repeat center / cover;
}

.hello {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.hello-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}