* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  background: #F7F7F7;
  box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: #fff;
  padding: 84px 35px 151px;
  border-radius: 0 0 93px 93px;
  border: 1px solid #000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.1) 100%), url('../img/header-bg.png') no-repeat center / cover;
}

.hello {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.hello-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.user {
  margin-top: -68px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  padding-bottom: 12px;
}

.user-avatar {
  margin: 10px 6px 12px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #676767;
}

.user-name {
  margin-top: -68px;
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.user-description {
  color: #676767;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-top: -10px;
}

.card {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 265px;
  margin: auto;
  gap: 5px;
}

.button {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  gap: 10px;
}

.button.whatsapp {
  background: #2CB742;
}

.button.vk {
  background: #07F;
  ;
}

.button.telegram {
  background: #08C;
}

.workout {
  text-align: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.services {
  font-size: 14px;
}

.about {
  text-align: center;
  max-width: 120px;
  height: 51px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 18px 9px;
  background-color: #0A1CE4;
}

.button-lesson {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: -10px;
}

.web {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  max-width: 120px;
  height: 51px;
  display: flex;
  border-radius: 10px;
  padding: 18px 9px;
  background-color: #0A1CE4;
  margin-left: 163px;
  margin-top: -60px;
}

.button-web {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-top: -2px;
}